exported
gale_exported
gale_images
resources
tiled
*.manifest
*.txt
*.log
*.png
*.jpg
*.py
*.mp3
*.ogg
*.wav
*.WAV
*.wma
*.flac
*.fdp
*.fdp.bak
*.obj
*.fobj
*.rar
*.h
*.lst
.vscode
.idea
.fsbcache